/* Styles used by JavaFX for the custom look & feel. */
.root {
    -opensphere-base: #535366;
    -opensphere-dark: #3A3A47;
    -opensphere-purple: #8D84BD;
    -opensphere-purple-hover: ladder(-opensphere-purple, derive(-opensphere-purple, 20%) 20%,
        derive(-opensphere-purple, 30%) 35%, derive(-opensphere-purple, 40%) 50%);
    -opensphere-purple-pressed: derive(-opensphere-purple, -6%);
    -opensphere-border: #8080A2;
    -fx-base: -opensphere-base;
    -fx-background: #505061;
    -fx-control-inner-background: derive(-fx-base, 80%);
    -fx-control-inner-background-alt: derive(-fx-base, 80%);
    -fx-default-button: -opensphere-base;
}

.scroll-bar>.thumb {
    -fx-color: -opensphere-purple;
}

.scroll-bar>.thumb:hover {
    -fx-color: -opensphere-purple-hover;
}

.scroll-bar>.thumb:pressed {
    -fx-color: -opensphere-purple-pressed;
}

.scroll-pane>.viewport {
    -fx-background-color: transparent;
}

.customcolor {
    -fx-color: #AEFF14;
}

.text-input {
    -fx-control-inner-background: -opensphere-dark;
    -fx-prompt-text-fill: derive(-fx-text-inner-color, -40%);
}
